* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.header-wrapper .top-container {
  width: 100%;
  background: rgb(2, 44, 70);
}
.header-wrapper .top-container .top-header {
  width: 100%;
  max-width: 1280px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0px 10px 0px;
}
.header-wrapper .top-container .top-header .left-top-header {
  display: flex;
  gap: 40px;
}
.header-wrapper .top-container .top-header .right-top-header {
  display: flex;
  gap: 10px;
}
.header-wrapper .top-container .top-header .right-top-header i {
  background: #fff;
  color: rgb(2, 44, 70);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.header-wrapper .bottom-header {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header-wrapper .bottom-header .logo img {
  width: 10vw;
  height: 15vh;
}
.header-wrapper .bottom-header ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
}
.header-wrapper .bottom-header ul a {
  text-decoration: none;
  color: #918f8f;
}
.header-wrapper .bottom-header ul a :hover {
  color: orangered;
}

.hero-wrapper {
  width: 100%;
  height: 102vh;
  background-image: url("../src/assets/bg.jpg");
  overflow: hidden;
}
.hero-wrapper .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.hero-wrapper .overlay .hero-container {
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  color: #fff;
}
.hero-wrapper .overlay .hero-container .hero-left {
  flex-basis: 50%;
}
.hero-wrapper .overlay .hero-container .hero-left h1 {
  font-size: 6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.hero-wrapper .overlay .hero-container .hero-left h5 {
  font-size: 4rem;
  text-decoration: underline;
  font-family: "Dancing Script", cursive;
}
.hero-wrapper .overlay .hero-container .hero-left button {
  background: orangered;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
}
.hero-wrapper .overlay .hero-container .hero-right {
  flex-basis: 50%;
  height: 100%;
  background-image: url("./assets/hero1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.hero-wrapper .overlay .hero-container .hero-right img {
  height: 45rem;
  margin-top: 25px;
}

.welcome {
  width: 100%;
  padding: 70px 0px 70px 0px;
}
.welcome .welcome-container {
  display: flex;
  gap: 20px;
  max-width: 1280px;
  margin: auto;
}
.welcome .welcome-container .left-welcome {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.welcome .welcome-container .left-welcome h2 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.welcome .welcome-container .left-welcome p {
  font-size: 20px;
  font-weight: 500;
  color: #918f8f;
  letter-spacing: 1px;
}
.welcome .welcome-container .left-welcome .welcome-icon {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.welcome .welcome-container .left-welcome .welcome-icon .icon {
  display: flex;
  gap: 10px;
}
.welcome .welcome-container .left-welcome .welcome-icon .icon img {
  height: 100px;
}
.welcome .welcome-container .left-welcome .welcome-icon .icon p {
  font-size: 25px;
  color: #000;
  font-weight: 700;
}
.welcome .welcome-container .left-welcome button {
  width: max-content;
  padding: 12px 20px;
  background: orangered;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.welcome .welcome-container .right-welcome {
  flex-basis: 50%;
}
.welcome .welcome-container .right-welcome .right-image {
  position: relative;
}
.welcome .welcome-container .right-welcome .right-image img {
  width: 33rem;
  height: 33rem;
  border-radius: 50%;
}
.welcome .welcome-container .right-welcome .right-image .circle {
  position: absolute;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  border: 20px solid #fff;
  left: 10%;
  top: 10%;
}
.welcome .welcome-container .right-welcome .right-image p {
  position: absolute;
  font-size: 15px;
  bottom: 3%;
  right: 84%;
  background: #fff;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0px 0px 17px 0px;
  padding: 35px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
}
.welcome .welcome-container .right-welcome .right-image p span {
  font-size: 30px;
  color: orangered;
  font-weight: 500;
}

.papular-container {
  width: 100;
  padding: 70px 0px 70px 0px;
}
.papular-container .popular-header-container {
  background-image: url("../src/assets/bg.jpg");
  width: 100%;
}
.papular-container .popular-header-container .popular-header-wrapper {
  background: rgba(16, 240, 191, 0.8);
}
.papular-container .popular-header-container .popular-header-wrapper h2 {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 4rem;
  color: #fff;
}
.papular-container .courses-container {
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 70px 0px 70px 0px;
}
.papular-container .courses-container .courses-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px 0px 1px 0px;
}
.papular-container .courses-container .courses-card .card-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.papular-container .courses-container .courses-card .card-body p {
  font-size: 16px;
  font-weight: 600;
}
.papular-container .courses-container .courses-card .card-body p span {
  font-size: 17px;
  color: rgb(16, 192, 192);
}
.papular-container .courses-container .courses-card .card-body h3 {
  font-size: 30px;
  font-weight: 600;
}
.papular-container .courses-container .courses-card .card-body hr {
  border: 1px solid #d8d8d8;
}
.papular-container .courses-container .courses-card .card-body .status {
  display: flex;
  justify-content: space-between;
}
.papular-container .courses-container .courses-card .card-body .status span {
  font-size: 20px;
  color: #918f8f;
}
.papular-container .courses-container .courses-card .card-body .status span:nth-child(2) {
  color: rgb(16, 192, 192);
}
.papular-container .courses-container .courses-card .card-body button {
  padding: 13px 16px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #918f8f;
  background: #f5f5f5;
  border-radius: 4px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.papular-container .courses-container .courses-card .card-body button:hover {
  background: orangered;
  color: #fff;
}

.mission-container {
  width: 100%;
  background-image: url("./assets/bg-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.mission-container .mission-wrapper {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  background: transparent;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.mission-container .mission-wrapper .left-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  gap: 50px;
  background-image: url("./assets/hero1.png");
  background-repeat: no-repeat;
  height: 100%;
  padding: 80px 0px 100px 0px;
}
.mission-container .mission-wrapper .left-mission h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}
.mission-container .mission-wrapper .left-mission button {
  padding: 13px 16px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background: #141313;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.mission-container .mission-wrapper .left-mission button:hover {
  background: #fff;
  color: #141313;
}
.mission-container .mission-wrapper .right-mission {
  flex-basis: 50%;
  text-align: center;
  color: #fff;
}
.mission-container .mission-wrapper .right-mission i {
  font-size: 40px;
  background: orangered;
  padding: 30px;
  height: 100px;
  width: 100px;
  align-items: center;
  margin-top: 40%;
  margin-left: 50%;
  cursor: pointer;
  border-radius: 50%;
}
.mission-container .mission-wrapper .right-mission i:hover {
  background: #141313;
}

.benefits-container {
  width: 100%;
  padding: 70px 0px 70px 0px;
}
.benefits-container .benifit-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.benefits-container .benifit-wrapper .left-benefit {
  flex-basis: 50%;
}
.benefits-container .benifit-wrapper .left-benefit img {
  width: 100%;
}
.benefits-container .benifit-wrapper .right-benefit {
  flex-basis: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.benefits-container .benifit-wrapper .right-benefit h2 {
  font-size: 4rem;
  font-weight: 900;
}
.benefits-container .benifit-wrapper .right-benefit p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #918f8f;
}
.benefits-container .benifit-wrapper .right-benefit .mission-icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.benefits-container .benifit-wrapper .right-benefit .mission-icons .mission-icon {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits-container .benifit-wrapper .right-benefit .mission-icons .mission-icon img {
  width: 100px;
}
.benefits-container .benifit-wrapper .right-benefit .mission-icons .mission-icon h6 {
  font-size: 1.3rem;
}
.benefits-container .benifit-wrapper .right-benefit button {
  width: max-content;
  font-size: 20px;
  font-weight: 700;
  padding: 13px 20px;
  border: none;
  border-radius: 5px;
  background: orangered;
  color: #fff;
  cursor: pointer;
}
.benefits-container .benifit-wrapper .right-benefit button:hover {
  background: #fff;
  color: #141313;
}

.footer-wrapper {
  width: 100%;
  background: rgb(2, 44, 70);
  color: #fff;
}
.footer-wrapper .footer-container {
  padding: 50px 0px 50px 0px;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-wrapper .footer-container .footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-wrapper .footer-container .footer-links h5 {
  font-size: 1.4rem;
}
.footer-wrapper .footer-container .footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.footer-wrapper .footer-buttom {
  display: flex;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}
.footer-wrapper .footer-buttom span {
  font-size: 20px;
  color: orangered;
}
.footer-wrapper .footer-buttom .right-footer {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.footer-wrapper .footer-buttom .right-footer i:hover {
  color: orangered;
}

.dashboard-wrapper {
  width: 20vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  height: 90vh;
}
.dashboard-wrapper h3 {
  background: #141313;
  color: #fff;
  padding: 13px 0px 13px 0px;
  font-size: 1.4rem;
}
.dashboard-wrapper ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard-wrapper ul a {
  width: 100%;
  background: #e9e9e9;
  padding: 13px 0px 13px 0px;
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.dashboard-wrapper ul a:hover {
  background: #141313;
  color: #fff;
}
.dashboard-wrapper ul a:hover a {
  background: #141313;
  color: #fff;
}

.dashboard-page {
  width: 100%;
  display: flex;
  gap: 20px;
}

.dashboard-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 50px;
}

.add-wrapper {
  padding: 50px;
  width: 70vw;
}
.add-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add-wrapper form h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}
.add-wrapper form .input {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.add-wrapper form .input .add-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add-wrapper form .input .add-input span {
  font-size: 20px;
}
.add-wrapper form .input .add-input input {
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  border-bottom: 2px solid #000;
}
.add-wrapper form .input .add-input input:hover {
  border-bottom: 2px solid orangered;
}
.add-wrapper form button {
  width: max-content;
  padding: 13px 20px;
  font-size: 20px;
  border: none;
  background: orangered;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.add-wrapper form button:hover {
  background: #141313;
}

/*# sourceMappingURL=index.css.map */
